*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main-layout {
  display: flex;
}
.sidebar {
  width: 30%;
  background-color: whitesmoke;
  height: 100vh;
}
.main {
  width: 70%;
}

.login-form-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.form-area {
  flex: 1;
}

.login-form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 24px;
}
.form-row {
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  padding: 8px 8px;
  border-radius: 6px;
}
.login-form button {
  width: 100%;
  padding: 8px 16px;
}
